/* Global changes */
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    color: #333333;
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 36px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Splash screen styles */
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.splash h1 {
    margin-top: 24px;
    margin-bottom: 42px;
}

.splash button {
    width: 246px;
    height: 54px;
    font-size: 18px;
    border: #D70900 solid 1px;
    color: #D70900;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Flash screen styles */

/* Top */
.top {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 42px 0;
}

.top h1 {
    margin: 0 20px;
}

a:link {
    text-decoration: none;
}

/* Cards */
.ask-card {
    width: 300px;
    min-height: 65px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.ask-card ion-icon {
    font-size: 23px;
}

.concealed {
    background-color: white;
}

.not-concealed {
    flex-direction: column;
    background-color: #FFFFD4;
    padding: 18px 20px 6px;
    align-items: initial;
}

.text {
    margin-bottom: 5px;
}

.buttons {
    display: flex;
}

.buttons.ask {
    justify-content: flex-end;
}

.buttons.answer {
    justify-content: space-between;
}