/* Global changes */
body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    width: 100%;
    height: 100%;
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 36px;
    margin-top: 24px;
    margin-bottom: 42px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Splash screen styles */
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.splash button {
    width: 246px;
    height: 54px;
    font-size: 18px;
    border: #D70900 solid 1px;
    color: #D70900;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Flash cars styles */
