/* Global changes */
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #FB6B6B;
    font-family: 'Recursive', sans-serif;
    color: #333333;
}

h1 {
    font-family: 'Righteous', cursive;
    color: white;
    font-size: 36px;
}

.root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Splash screen styles */
.splash {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.splash h1 {
    margin-top: 24px;
    margin-bottom: 42px;
}

.splash button {
    width: 246px;
    height: 54px;
    font-size: 18px;
    border: #D70900 solid 1px;
    color: #D70900;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

/* Flash screen styles */

    /* Top */
.top {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 42px 0;
}

.top h1 {
    margin: 0 20px;
}

a:link {
    text-decoration: none;
}

    /* Cards */
        /* General */
.ask-card {
    width: 300px;
    min-height: 65px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 16px;
}

.ask-card ion-icon {
    font-size: 23px;
}

        /* Card type 1 */
.concealed {
    background-color: white;
}

.concealed.correct {
    color: #2FBE34;
    text-decoration: line-through;
}

.concealed.incorrect {
    color: #FF3030;
    text-decoration: line-through;
}

.concealed.effort {
    color: #FF922E;
    text-decoration: line-through;
}

        /* Card type 2 */
.not-concealed {
    flex-direction: column;
    background-color: #FFFFD4;
    padding: 18px 20px 6px;
    align-items: initial;
    min-height: 131px;
}

.text {
    margin-bottom: 5px;
    font-size: 18px;
}

            /* Bottom buttons 1 */
.buttons {
    display: flex;
}

.buttons.ask {
    justify-content: flex-end;
}

            /* Bottom buttons 2 */
.buttons.answer {
    justify-content: space-between;
}

.buttons div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
    border-radius: 5px;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 8px;
}

.buttons .no {
    background-color: #FF3030;
}

.buttons .almost {
    background-color: #FF922E;
}

.buttons .yes {
    background-color: #2FBE34;
}

    /* Bottom */
.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 70px;
    background-color: white;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.bottom .title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom .title img {
    margin: 5px 15px;
}

.bottom p {
    width: 200px;
    text-align: center;
    margin: 10px 0;
}

.bottom-message {
    margin: 5px;
}

.answer-list ion-icon {
    font-size: 23px;
}